.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.egg-info/
*.egg
*.bak
*.swp
*.tmp
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
dist/
build/
coverage.*
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
.cache/
*.cover
